h1,
label {
  color: #c66852;
}

input {
  background-color: #363637;
  color: #c66852;
  border: 2px solid #c66852;
}

input:focus {
  background-color: #363637;
  color: #c66852;
  box-shadow: none;
  border: 2px solid #c66852;
}

button {
  color: #c66852;
  border: 2px solid #c66852;
}

button:hover {
  background-color: #faa683;
  color: #c66852;
}

form {
  background-color: #363637;
  border-radius: 20px;
}

.nav-link {
  color: #c66852;
}

.nav-link:hover {
  color: #faa683;
}
