<div class="d-flex">
  <app-nav></app-nav>
  <div class="container pt-4">
    <div class="row">
      <div class="col-6 p-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quae natus suscipit iusto placeat, magnam tenetur
        modi mollitia ea deserunt, ipsam, facere reprehenderit? Laudantium delectus earum iusto hic qui praesentium
        maiores odio provident eveniet necessitatibus? Obcaecati distinctio dicta ea doloribus quisquam, ab aliquid
        recusandae dignissimos quae molestiae pariatur officiis illo perferendis, molestias impedit. Voluptas animi
        neque molestiae consequuntur quaerat tempore culpa, incidunt temporibus exercitationem similique pariatur
        laboriosam dolores repellat. In mollitia adipisci repellendus corrupti, totam quaerat tenetur ab nihil harum
        animi dolor numquam, enim fugit. Qui omnis eligendi, earum perferendis sint reiciendis minus laborum vitae?
        Obcaecati perspiciatis aspernatur odit eius, alias nihil eveniet. Possimus, repellendus? Veritatis sequi a quos
        natus velit soluta molestias consequatur id, odit saepe! Quod ratione expedita fugiat magni facere, id
        voluptatum eos officia veniam quam dolor, hic perspiciatis quasi molestiae illum at, autem laudantium natus
        aperiam officiis eaque accusamus commodi neque libero. Aperiam aliquam sunt praesentium eveniet veritatis
        numquam iusto molestias veniam, quam nostrum, quis, accusantium quasi exercitationem dolorem temporibus aliquid.
        Odio omnis molestiae, perspiciatis enim amet quia iure impedit? Est rem quo non debitis quae dolor itaque, et
        inventore aspernatur ab error doloremque voluptas recusandae totam repellendus quidem delectus explicabo eos
        illum. Facere asperiores sint maiores non sed, ipsa ad autem ipsam nihil. Dolores iste quis perferendis
        quibusdam, inventore ducimus sed totam delectus. Voluptatum numquam eaque ut vitae recusandae aspernatur.
      </div>
      <div class="col-6">
        <div class="row p-3">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo, rem voluptate sint ex quasi quidem
          consequuntur sed eaque dolore non in amet repellendus quod voluptatibus quos, officia modi perspiciatis id
          repellat. Optio quis, porro excepturi amet molestiae quo, cupiditate aspernatur, officia consequatur expedita
          sunt dolore autem nesciunt tenetur hic voluptas sequi. Quod fuga recusandae doloribus eligendi sapiente
          dolores harum dicta modi totam a reprehenderit, sequi excepturi ullam sit, molestias provident repellat soluta
          dolorum impedit vel aspernatur cupiditate laborum architecto! A, velit nihil iste omnis magnam, minima,
          inventore error molestiae necessitatibus iusto quod maiores? Mollitia delectus aliquam in! Corrupti, quo
          nihil.
        </div>
        <div class="row p-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias explicabo officiis ipsa iusto libero quae
          nam odio, repellat distinctio, expedita impedit earum placeat quos adipisci accusamus sint debitis quod.
          Similique consequuntur dolores rem? Corrupti magnam rem deserunt ullam exercitationem laboriosam consectetur
          perferendis odit voluptas non. Eum praesentium illum temporibus voluptatibus optio magni ducimus magnam minus,
          itaque reiciendis eos odit repudiandae earum quis incidunt deserunt vel consectetur beatae unde voluptatum
          eligendi obcaecati dignissimos? Doloribus debitis ipsa dolorum? Consectetur quis doloribus reiciendis
          molestias odio excepturi assumenda saepe officia laborum voluptatum! Quis officia eum aspernatur nisi
          consequatur odit aliquid maiores vitae non ea.
        </div>
      </div>
    </div>
  </div>
</div>
