<div class="d-flex flex-column position-sticky text-center shadow-lg top-0">
  <a class="d-flex align-items-center mx-auto pt-3 pb-4" routerLink="/" routerLinkActive="active">
    <img src="../../../assets/svg/logo.svg" width="64" />
  </a>

  <ul class="nav nav-pills flex-column">
    <li class="nav-item" *ngIf="userName">
      <a class="nav-link py-3 rounded-0">
        <img src="../../../assets/svg/user.svg" width="32" />
        <div>{{ userName }}</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-0 py-3" routerLink="/recordings" routerLinkActive="active"
        ><img src="../../../assets/svg/note.svg" width="32" />
        <div>Songs</div></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-0 py-3 px-4" routerLink="/playlists" routerLinkActive="active"
        ><img src="../../../assets/svg/playlist.svg" width="32" />
        <div>Playlists</div></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-0 py-3" routerLink="/albums" routerLinkActive="active"
        ><img src="../../../assets/svg/album.svg" width="32" />
        <div>Albums</div></a
      >
    </li>

    <li class="nav-item rounded-0 mt-auto" *ngIf="!userName">
      <a routerLink="/login" class="nav-link py-3 rounded-0" routerLinkActive="active">
        <img src="../../../assets/svg/login.svg" width="32" />
        <div>Sign in</div>
      </a>
    </li>

    <li class="nav-item mt-auto" *ngIf="userName">
      <a class="nav-link rounded-0 py-3" (click)="logout()">
        <img src="../../../assets/svg/logout.svg" width="32" />
        <div>Sign out</div>
      </a>
    </li>
  </ul>
</div>
