.flex-column {
  height: 100vh;
  background-color: #05386b;
  color: #5cdb95;
}

li {
  border-top: #8ee4af 1px solid;
}

.nav-link {
  color: #5cdb95;
}

.nav-link:hover,
.nav-link:visited {
  background-color: #379683;
  color: #5cdb95;
}

.custom-link {
  text-decoration: none;
  color: #5cdb95;
}

.custom-link:hover {
  text-decoration: none;
  color: #5cdb95;
  background-color: #379683;
}
