.flex-column {
  background-color: #363637;
  color: #c66852;
  height: 100svh;
}

.nav-link {
  color: #c66852;
}

.nav-link:hover,
.nav-link:visited {
  background-color: #faa683;
  color: #c66852;
}

.mt-auto {
  cursor: pointer;
}
