<div class="d-flex flex-column position-sticky px-3 text-center py-1 shadow-lg top-0">
  <a class="d-flex align-items-center navbar-brand mx-auto pt-3 pb-4" href="">
    <img src="../../../assets/svg/logo.svg" />
  </a>
  <ul class="nav nav-pills flex-column fs-6">
    <li class="nav-item py-3">
      <a class="nav-link" href="/songs"
        ><img src="../../../assets/svg/note.svg" width="40" />
        <div>Songs</div></a
      >
    </li>
    <li class="nav-item py-3">
      <a class="nav-link" href="/playlists"
        ><img src="../../../assets/svg/playlist.svg" width="40" />
        <div>Playlists</div></a
      >
    </li>
    <li class="nav-item py-3">
      <a class="nav-link" href="/albums"
        ><img src="../../../assets/svg/album.svg" width="40" />
        <div>Albums</div></a
      >
    </li>

    <li class="nav-item py-3 mt-auto">
      <a class="nav-link" href="/login"
        ><img src="../../../assets/svg/login.svg" width="40" />
        <div>Sign in</div></a
      >
    </li>
  </ul>
</div>
