.flex-column {
  background-color: #05386b;
  color: #5cdb95;
  height: 100svh;
}

.nav-link {
  color: #5cdb95;
}

.nav-link:hover,
.nav-link:visited {
  background-color: #379683;
  color: #5cdb95;
}

.mt-auto {
  cursor: pointer;
}
