<div class="d-flex">
  <app-nav></app-nav>

  @if (userName) {
  <div class="container w-100">
    <div class="d-flex py-3">
      <div class="px-1 cursor-pointer jump-animation">
        <img src="../../../../assets/svg/add-hovered.svg" width="48" />
      </div>

      @if (selectedRowIndex !== null) {
      <div class="px-1" (click)="deleteUserRecording(selectedRowIndex)">
        <img src="../../../../assets/svg/delete-selected.svg" class="cursor-pointer jump-animation" width="48" />
      </div>
      } @else {
      <div class="px-1">
        <img src="../../../../assets/svg/button-circle-round-remove-svgrepo-com.svg" width="48" />
      </div>
      }

      <div class="px-1 jump-animation cursor-pointer">
        <img src="../../../../assets/svg/globe-search-web-browser-svgrepo-com.svg" width="48" />
      </div>
    </div>

    @if (recordings.length > 0) {
    <table class="table rounded-2 overflow-hidden table-hover">
      <thead>
        <tr class="border-bottom">
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Artist</th>
          <th scope="col">Duration</th>
        </tr>
      </thead>
      <tbody>
        @for (recording of recordings; track recording.id; let index = $index) {
        <tr
          (click)="setSelectedRow(index)"
          (mouseenter)="setHoveredRow(index)"
          (mouseleave)="setHoveredRow(null)"
          [ngClass]="{ 'table-active': selectedRowIndex === index }"
        >
          <th scope="row" class="w-10">
            @if (hoveredRowIndex === index || selectedRowIndex === index) {
            <img src="../../../assets/svg/play.svg" />
            } @else {
            {{ index + 1 }}
            }
          </th>

          <td>{{ recording.title }}</td>
          <td>{{ recording.artist }}</td>
          <td>{{ recording.minutes }}:{{ recording.seconds > 9 ? recording.seconds : '0' + recording.seconds }}</td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
  } @else {
  <div class="d-flex w-100 align-self-center justify-content-center">
    <app-login-form></app-login-form>
  </div>
  }

  <div class="modal fade" id="new-recording">ddd</div>
</div>
