td,
th {
  background-color: #5cdb95;
  color: #05386b;
}

.table tr {
  border-bottom: 1px solid #5cdb95;
}

.table td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.border-bottom {
  border-color: rgba(5, 56, 107, 0.2) !important;
}

tbody tr:hover {
  cursor: pointer;
}

.w-10 {
  width: 10%;
}

.table tr .selected {
  width: 10%;
  background-color: aqua;
}

.cursor-pointer {
  cursor: pointer;
}

.resize-animation:hover {
  animation: scaleUp 0.1s ease-in forwards;
}

.resize-animation:not(:hover) {
  animation: scaleDown 0.1s ease-out forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
