td,
th {
  background-color: #5cdb95;
  color: #05386b;
}

.table tr {
  border-bottom: 1px solid #5cdb95;
}

.table td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.border-bottom {
  border-color: rgba(5, 56, 107, 0.2) !important;
}

tbody tr:hover {
  cursor: pointer;
}

.w-10 {
  width: 10%;
}

.table tr .selected {
  width: 10%;
  background-color: aqua;
}

.cursor-pointer {
  cursor: pointer;
}

.jump-animation:hover {
  animation: jumpUp 0.35s ease-in forwards;
}

.jump-animation:not(:hover) {
  animation: jumpDown 0.35s ease-out forwards;
}

@keyframes jumpUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes jumpDown {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
