<div class="d-flex">
  <app-nav></app-nav>

  @if (userName) {
  <div class="container w-100">
    <div class="d-flex py-3">
      <div class="px-1 cursor-pointer resize-animation" (click)="openModal()">
        <img
          src="../../../../assets/svg/add-hovered.svg"
          data-toggle="tooltip"
          data-placement="top"
          title="Add recording to your library"
          width="48"
        />
      </div>

      @if (selectedRowIndex !== null) {
      <div class="px-1" (click)="deleteUserRecording(selectedRowIndex)">
        <img
          src="../../../../assets/svg/delete-selected.svg"
          data-toggle="tooltip"
          data-placement="top"
          title="Remove selected recording"
          class="cursor-pointer resize-animation"
          width="48"
        />
      </div>
      } @else {
      <div class="px-1">
        <img
          src="../../../../assets/svg/button-circle-round-remove-svgrepo-com.svg"
          data-toggle="tooltip"
          data-placement="top"
          title="Select recording"
          width="48"
        />
      </div>
      }

      <div class="px-1 resize-animation cursor-pointer">
        <img
          src="../../../../assets/svg/globe-search-web-browser-svgrepo-com.svg"
          data-toggle="tooltip"
          data-placement="top"
          title="Explore recordings"
          width="48"
        />
      </div>
    </div>

    @if (recordings.length > 0) {
    <table class="table rounded-2 overflow-hidden table-hover">
      <thead>
        <tr class="border-bottom">
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Artist</th>
          <th scope="col">Duration</th>
        </tr>
      </thead>
      <tbody>
        @for (recording of recordings; track recording.id; let index = $index) {
        <tr
          (click)="setSelectedRow(index)"
          (mouseenter)="setHoveredRow(index)"
          (mouseleave)="setHoveredRow(null)"
          [ngClass]="{ 'table-active': selectedRowIndex === index }"
        >
          <th scope="row" class="w-10">
            @if (hoveredRowIndex === index || selectedRowIndex === index) {
            <img src="../../../assets/svg/play.svg" />
            } @else {
            {{ index + 1 }}
            }
          </th>

          <td>{{ recording.title }}</td>
          <td>{{ recording.artist }}</td>
          <td>{{ recording.minutes }}:{{ recording.seconds > 9 ? recording.seconds : '0' + recording.seconds }}</td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
  } @else {
  <div class="d-flex w-100 align-self-center justify-content-center">
    <app-login-form></app-login-form>
  </div>
  }

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">Modal body..</div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
